- name: running docker compose file as stack
  hosts: localhost
  vars:
    ansible_user: ubuntu
    ansible_pass: ubuntu
    ansible_become_pass: ubuntu
  tasks:
    - name: install python
      apt:
        name: "{{ item }}"
        state: present
      loop:
        - python3
        - python3-docker
        - python3-pip
      become: true
    - name: install module python
      ansible.builtin.pip:
        name: jsondiff
        state: present
      become: true

    - name: deploy stack
      docker_stack:
        state: present
        name: apps-zakaria
        compose:
          - /home/ubuntu/hari4/apps-bagas/docker-compose.yaml
      become: true

    - name: scale service
      shell: docker service scale apps-bagas_web=6
