- name: running docker compose file as stack
  hosts: localhost
  tasks:
    - name: install python
      apt:
        name: "{{ item }}"
        state: present
      loop:
        - python3
        - python3-docker
        - python3-pip

    - name: install module python
      ansible.builtin.pip:
        name: jsondiff
        state: present

    - name: deploy stack
      docker_stack:
        state: present
        name: apps-zakaria
        compose:
          - /home/ubuntu/hari4/apps-bagas/docker-compose.yml

    - name: scale service
      shell: docker service scale apps-bagas_web=6
